AI Agents/telegram_3.json
{
  "name": "telegram_3",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        -100
      ],
      "id": "7f637fa0-b59e-4cc2-90a2-029966f9dfa9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful research assistant. Please Use the tool to research. you have to use tools like wikipedia, hacker news, serpAPI(Google search). Consider yourself a helpfull assistant who can respond very quickly about everything"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        -40
      ],
      "id": "3ecc290b-ef3a-40aa-ab39-bc9670fd7b3c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -140,
        140
      ],
      "id": "e80f69f3-bafb-4d98-85c5-8901c1fce612",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vkXoK7Znzpyr33Fz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        280,
        140
      ],
      "id": "dca7ebf8-4c29-4994-9ff2-c8602a8b86ee",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 1000,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        580,
        -100
      ],
      "id": "c331127c-01c4-48ae-898c-ec9383be847b",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        120,
        220
      ],
      "id": "9281769d-d4fe-4104-97f4-5567336ea499",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "You have to use this as tool like wikipedia, serpAPI, hacker news. And do search in from web. consider yourself as helpfull asistant and provide user's query esponse",
        "q": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        460,
        160
      ],
      "id": "a5632a33-5673-496b-b445-9440bd1b8e6b",
      "name": "Google search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "jWS3xkQsLvemicDl",
          "name": "SerpApi account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "what are the AI Agents"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f817e0c8-6698-4897-a406-8a5744ea115c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "599f33089a5f8cda20f0450fe6a9e6c2673f90a71661d43dece96de963cdb5db"
  },
  "id": "4XtTVvB6c7bvh07M",
  "tags": []
}